h1,h2, h6, tr,td{
    text-align: center;
    vertical-align: center;
}

.error{
    color: red;
    text-align: center;
}

.textColumn{
    max-width: 300px;
    max-height: 30px;
    overflow-wrap: break-word;
}
.profileImage{
    width: 60px;
    height: 60px;
}

.updateImage{
    width: 20px;
    height: 20px;
    text-align: initial
}

.userDetails{
    margin-top: 15px;
    vertical-align: middle;
    font-size: 20px;
}

.label{
    text-align: right;
}

.field{
    text-align: left;
}

#givenNameUpdate, #surnameUpdate, #emailUpdate{
    display: none;
}

#container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 700px;
}

#searchingFields{
    float: right;
}

#logMessage{
    text-align: center;
}

#logOutMessage {
    text-align: center;
}